@charset "UTF-8";

/*
    em HTML é id e em CSS é # (só pode um elemento)
    em HTML é class e em CSS é . (pode ter vários elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(4, 109, 0);
}

h1#principal {
  text-align: center;
  background-color: rgb(4, 109, 0);
  color: white;
}

h2 {
  color: rgb(73, 109, 71);
}

.basico {
  color: rgba(9, 255, 0, 0.678);
  font-weight: 900;
}

.intermediario {
  color: rgba(9, 255, 0, 0.678);
  font-weight: 900;
}

.vanced {
  color: rgba(9, 255, 0, 0.678);
  font-weight: 900;
}